{% extends 'base.html' %}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div class="container_12 top">
    <div class="grid_12">
        <div id="form" class="find">
            <input type="text" value="Поиск" onblur="if(this.value=='') this.value='Поиск'" onfocus="if(this.value =='Поиск' ) this.value=''">
        </div>
      <h2 class="p5">Акктуальные просьбы</h2>
    </div>
    <div class="grid_4">
      <div> <img src="/media/images/page4-img1.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Поклейте кота</a><br>
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
      <div class="top-7"> <img src="/media/images/page4-img4.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Приютите обои</a><br>
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
    </div>
    <div class="grid_4">
      <div> <img src="/media/images/page4-img2.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Сфотографируйте меня</a><br>
          Magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
      <div class="top-7"> <img src="/media/images/page4-img5.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Нужен ночлег</a><br>
          Magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
    </div>
    <div class="grid_4">
      <div> <img src="/media/images/page4-img3.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Больше просьб</a><br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitt accusam. Aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
      <div class="top-7"> <img src="/media/images/page4-img6.jpg" alt="" class="img-border">
        <p class="top-4"><a href="#" class="link">Нужно ещё больше просьб!!!</a><br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitt accusam. Aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore.</p>
        <a href="#" class="button top-4">Подробнее</a> </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
{% endblock %}