{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

    <script type="text/javascript">
      VK.init({apiId: 2044242, onlyWidgets: true});
    </script>
{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div class="container_12 top">
    <div class="grid_8">
      <h2>{{ task.title }}</h2>
      <div class="box-5 right-1">
          <div class="date">{{ task.create_date }}</div><div class="author">Автор: <a href="/profile/{{ task.user.id }}">{{ task.user.get_full_name }}</a></div>
          <div class="clear"></div>
          <img src="/uploads/{{ task.task_photo }}" width="650" alt="" class="img-border fleft">
        <p>{{ task.description }}</p>
        <div id="likes">
            <!-- Put this div tag to the place, where the Like block will be -->
            <div id="vk_like"></div>
            <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
            <iframe src="//www.facebook.com/plugins/like.php?href=href%3A%2F%2Fpay-forward.ru%2Ftask%2F{{ task.id }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=155059587964802" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="WhiteHakeR" data-lang="ru">Твитнуть</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- Поместите этот тег туда, где должна отображаться кнопка +1. -->
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>

            <!-- Поместите этот тег за последним тегом виджета кнопка +1. -->
            <script type="text/javascript">
              window.___gcfg = {lang: 'ru'};

              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
          <a class="send"></a>
          <div class="clear"></div>
          <div class="otklik">
              <img src="/media/images/page2-img2.jpg" alt="" class="img-indent img-border fleft">
              <a href="#" class="link">Mickey Goldberg</a>
              <p>Я могу это сделать! Назначьте меня на это задание.</p>
              <div class="otkilik_data">20 октября 2013 г. 18:04:47</div>
          </div>
      </div>
 </div>
    <div class="box-3-right">
      <h2><a href="/tasks">Ещё просьбы</a></h2>
        {% for tsk in tasks %}
            <div><a href="/task/{{ tsk.id }}"><img src="/uploads/{{ tsk.task_photo }}" alt="" class="img-border"></a> <a href="/task/{{ tsk.id }}" class="link-2">{{ tsk.title }}</a>
                <p>{{ tsk.description|slice:"50" }}</p>
            </div>
        {% endfor %}
      </div>
  <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments"></div>
        <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "680", attach: "*"});
        </script>
      <div class="clear"></div>
  </div>
</section>
{% endblock %}