{% extends 'base.html' %}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div class="container_12 top">
    <div class="grid_8">
      <h2>{{ task.title }}</h2>
      <div class="box-5 right-1">
          <div class="date">{{ task.create_date }}</div><div class="author">Автор: <a href="/profile/{{ task.user.id }}">{{ task.user.get_full_name }}</a></div>
          <div class="clear"></div>
          <img src="/uploads/{{ task.task_photo }}" width="650" alt="" class="img-border fleft">
        <p>{{ task.description }}</p>
        <div id="likes">
            <!-- Put this div tag to the place, where the Like block will be -->
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "button"});
            </script>
            <div class="fb-like" data-send="true" data-layout="button_count" data-width="250" data-show-faces="true"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="BestContests.ru">Твитнуть</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone></g:plusone>
        </div>
          <a class="send"></a>
          <div class="clear"></div>
          <div class="otklik">
              <img src="/media/images/page2-img2.jpg" alt="" class="img-indent img-border fleft">
              <a href="#" class="link">Mickey Goldberg</a>
              <p>Я могу это сделать! Назначьте меня на это задание.</p>
              <div class="otkilik_data">20 октября 2013 г. 18:04:47</div>
          </div>
      </div>
 </div>
    <div class="box-3-right">
      <h2><a href="/tasks">Ещё просьбы</a></h2>
        {% for tsk in tasks %}
            <div><a href="/task/{{ tsk.id }}"><img src="/uploads/{{ tsk.task_photo }}" alt="" class="img-border"></a> <a href="/task/{{ tsk.id }}" class="link-2">{{ tsk.title }}</a>
                <p>{{ tsk.description|slice:"50" }}</p>
            </div>
        {% endfor %}
      </div>
      <div class="clear"></div>
  </div>
</section>
{% endblock %}